@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Permanent+Marker&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";

.font-handwriting {
  font-family: 'Dancing Script', cursive;
}